<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558987779054-0o6s0jh2u8im84n2qv5rvvbaer00mse2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558987779054-0o6s0jh2u8im84n2qv5rvvbaer00mse2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>558987779054-a82kvsgurciuo8hrr9ik1702846j74sv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhU0bQuYVB10BrVXgKthlVhPi-GwRCANw</string>
	<key>GCM_SENDER_ID</key>
	<string>558987779054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.turbotech.TurboTech</string>
	<key>PROJECT_ID</key>
	<string>turbotechproject-1700a</string>
	<key>STORAGE_BUCKET</key>
	<string>turbotechproject-1700a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558987779054:ios:2de4fdf211846c30200cff</string>
	<key>DATABASE_URL</key>
	<string>https://turbotechproject-1700a.firebaseio.com</string>
</dict>
</plist>